@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@100;200;400;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: url('http://wallpapercave.com/wp/WSjKlp7.jpg');
    font-family: 'Poppins',sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;

}
.container{
    padding: 20px 70px;
    color: #fff;
}
.currnt-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container #time{
    font-size: 50px;
    font-weight: 100;
}
.date-container #am-pm{
    font-size: 25px;
    margin-left: 20px;

}
.date{
    font-size: 17px;
    margin-top: 20px;
    margin-left: 8px;
   

}
.place-container{
  text-align: end;

}
.place-container.time-zone{
    font-size: 10px;
    font-weight: 100;

}
.place-container.country{
    font-size: 12px;
    font-weight: 700;
}
.others{
    margin-top: 10px ;
    display: flex;
    flex-direction: column;
    background-color: rgba(24,24,27,0.6);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eee;
}
.weathers-iteams{
    display:flex ;
    justify-content: space-between;
}
.future-forcast{
    background: rgba(24,24,27,0.8);
    padding: 25px;
    position: fixid;
    bottom: 0;
    display: flex;
    color:white;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    gap: 100px;
}
.weather-forcast{
    display: flex;
    gap: 50px;
    

}
.w-icon{
    width: 40px;
    height: 40px;
}
.today{
    display: flex;
    align-items: center;
    justify-content: center;
}
.day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}
.weather-forcast-iteams{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 10px;
  
}
.day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}
.temp{
    font-weight: 100;
}
@media only screen and (max-width:730px){
    .future-forcast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}
@media only screen and (max-width) {
    
}

